/* Variables */
* {
	-fx-deep-blue-color: #26204e;
	-fx-blue-color: #46a2d6;
	-fx-darker-blue-color: #3a8cb8;
	-fx-lighter-blue-color: #d0efff;
	-fx-light-gray-color: #dddddd;
	-fx-dark-gray-color: #505050;
	-fx-success-color: #008200;
	-fx-error-color: red;
	-fx-error-light-color: #ff7777;
	-fx-shadow-color: rgba(38, 32, 78, 0.2);
}

* {
	-fx-background-color: transparent;
}

/* Effects */
.shadow {
	-fx-background-color: white;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 30, 0, 3, 2);
}

/* Text Fields and Choice Boxes */
.text-field {
	-fx-background-color: -fx-light-gray-color;
	-fx-text-fill: -fx-dark-gray-color;
	-fx-background-radius: 5;
	-fx-padding: 7 10;
	-fx-font-size: 16;
}

.choice-box,
.choice-box .context-menu {
	-fx-background-color: -fx-light-gray-color;
	-fx-background-radius: 5;
	-fx-text-fill: -fx-dark-gray-color;
	-fx-font-size: 16;
}

.choice-box .arrow {
	-fx-background-color: -fx-dark-gray-color;
}

.choice-box .context-menu {
	-fx-pref-width: 250;
}

.choice-box .menu-item:focused {
	-fx-background-color: -fx-blue-color;
	-fx-text-fill: white;
	-fx-fill: white;
}

/* Buttons */

.button {
	-fx-background-color: -fx-blue-color;
	-fx-text-fill: white;
	-fx-font-size: 16;
	-fx-background-radius: 100;
	-fx-padding: 7 30;
	-fx-cursor: hand;
}

.button:hover {
	-fx-background-color: -fx-darker-blue-color;
}

.feature-btn {
	-fx-background-color: white;
	-fx-padding: 5 5;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 30, 0, 3, 2);
}

.feature-btn:hover {
	-fx-background-color: #f2f2f2;
	-fx-effect: dropshadow(three-pass-box, rgba(38, 32, 78, 0.05), 30, 0, 3, 2);
}

/* Headings and Text */
.heading {
	-fx-text-fill: -fx-deep-blue-color;
	-fx-font-size: 20;
	-fx-font-weight: bold;
}

.sub-heading {
	-fx-text-fill: -fx-dark-gray-color;
	-fx-font-size: 18;
	-fx-font-weight: bold;
}

.normal {
	-fx-font-size: 16;
	-fx-text-fill: -fx-dark-gray-color;
}

.small {
	-fx-font-size: 14 !important;
}

.success-text {
	-fx-text-fill: white;
	-fx-background-color: -fx-success-color;
	-fx-font-size: 18;
	-fx-font-weight: bold;
	-fx-padding: 5 15;
	-fx-background-radius: 5;
}

.error-message {
	-fx-text-fill: -fx-error-color;
	-fx-font-size: 14;
}

.error-message-light {
	-fx-text-fill: -fx-error-light-color;
	-fx-font-size: 14;
}

.tooltip {
	-fx-background-color: -fx-deep-blue-color;
	-fx-text-fill: white;
	-fx-font-size: 12;
	-fx-font-weight: bold;
	-fx-background-radius: 3;
	-fx-border-color: white;
	-fx-border-width: 1;
	-fx-border-radius: 3;
	-fx-padding: 5 10;
	-fx-opacity: 0.8;
}

/* Sidebar */

.sidebar {
	-fx-background-color: -fx-deep-blue-color;
	/* -fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 15, 0, 5, 0); */
}

.balance-btn {
	-fx-background-color: white;
	-fx-text-fill: -fx-deep-blue-color;
	-fx-font-weight: bold;
	-fx-pref-width: 160;
}

.balance-btn:hover {
	-fx-background-color: #f2f2f2;
}

.menu-btn {
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

.menu-btn .glyph-icon {
	-fx-fill: white;
	-fx-glyph-size: 30;
	-fx-size: 30;
}

.menu-btn .text {
	-fx-text-alignment: right;
	-fx-translate-x: 10;
}

.menu-btn:hover {
	-fx-background-color: transparent;
	-fx-text-fill: -fx-blue-color;
}

.menu-btn:hover .glyph-icon {
	-fx-fill: -fx-blue-color;
}

.account-btn {
	-fx-background-color: rgba(255, 255, 255, 0.1);
	-fx-text-fill: white;
	-fx-padding: 5 5;
}

.account-btn .image-view {
	-fx-background-radius: 100;
}

.account-btn:hover {
	-fx-background-color: rgba(255, 255, 255, 0.2);
}

.sign-out-btn {
	-fx-background-color: rgba(255, 255, 255, 0.1);
	-fx-pref-height: 60;
	-fx-padding: 0 17;
}

.sign-out-btn .glyph-icon {
	-fx-fill: white;
	-glyph-size: 30;
}

/* Header */

.header {
	-fx-background-color: -fx-blue-color;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 15, 0, 0, 5);
}

.nav-btn {
	-fx-background-color: -fx-blue-color;
	-fx-text-fill: white;
	-fx-font-size: 16;
	-fx-background-radius: 100;
	-fx-padding: 7 10;
}

.nav-btn:hover {
	-fx-background-color: -fx-darker-blue-color;
}

.nav-btn .glyph-icon {
	-fx-fill: white;
}

/* Labels */
.scene-label {
	-fx-font-size: 22;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

/* Forms */
.form {
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-padding: 25;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 30, 0, 3, 2);
}

.form .label {
	-fx-text-fill: -fx-dark-gray-color;
	-fx-font-size: 16;
	-fx-margin: 10;
}

/* Transaction History */
.trx-info-box {
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-padding: 12;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 30, 0, 3, 2);
}

.trx-info-box .info-title {
	-fx-text-fill: #909090;
	-fx-font-size: 13;
	-fx-font-weight: bold;
}

.trx-info-box .info {
	-fx-text-fill: black;
	-fx-font-size: 14;
}

/* Authentication */
.auth-bg {
	-fx-background-color: -fx-deep-blue-color;
}

.auth-bg .text-field {
	-fx-background-color: rgba(255, 255, 255, 0.7);
	-fx-text-fill: #494949;
	-fx-prompt-text-fill: #898989;
	-fx-background-radius: 5;
	-fx-padding: 7 15;
	-fx-font-size: 16;
}

.auth-bg .button {
	-fx-font-weight: bold;
}

.auth-bg .prompt {
	-fx-text-fill: white;
	-fx-font-size: 14;
}

.auth-bg .prompt-button {
	-fx-background-color: transparent;
	-fx-text-fill: -fx-blue-color;
	-fx-font-size: 14;
	-fx-font-weight: bold;
}

.auth-bg .prompt-button:hover {
	-fx-text-fill: white;
}

/* Panes */
#transactionsFlowPane {
	-fx-padding: 30 20;
}

.scroll-pane .thumb {
	-fx-background-color: -fx-blue-color;
	-fx-background-radius: 10;
}

/* Transaction History */
.transaction-box {
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-border-color: -fx-light-gray-color;
	-fx-border-width: 1;
	-fx-border-radius: 10;
	-fx-padding: 10;
}

.transaction-box .type {
	-fx-text-fill: -fx-deep-blue-color;
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.transaction-box .copy-btn {
	-fx-background-color: transparent;
	-fx-font-size: 14;
	-fx-padding: 0;
	-fx-pref-height: 25;
}

.transaction-box .copy-btn .glyph-icon {
	-fx-fill: -fx-dark-gray-color;
}

.transaction-box .copy-btn:hover .glyph-icon {
	-fx-fill: -fx-blue-color;
}

.transaction-box .positive-amount {
	-fx-text-fill: -fx-success-color;
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.transaction-box .negative-amount {
	-fx-text-fill: -fx-error-color;
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.transaction-box .detail {
	-fx-text-fill: -fx-dark-gray-color;
	-fx-font-size: 13;
}

/* Calculators */

.calc-text-field {
	-fx-text-fill: black;
	-fx-font-size: 20;
}

.calc-btn {
	-fx-background-color: -fx-lighter-blue-color;
	-fx-text-fill: -fx-deep-blue-color;
	-fx-font-size: 18;
	-fx-font-weight: bold;
	-fx-background-radius: 10;
	-fx-padding: 0;
	-fx-pref-width: 60;
	-fx-pref-height: 45;
}

.calc-btn:hover {
	-fx-background-color: -fx-blue-color;
	-fx-text-fill: white;
}

.calc-btn-equal {
	-fx-background-color: -fx-blue-color;
	-fx-text-fill: white;
	-fx-font-size: 24;
}

.calc-btn-equal:hover {
	-fx-background-color: -fx-darker-blue-color;
}

.calc-btn-clear {
	-fx-background-color: #ff3737;
	-fx-text-fill: white;
}

.calc-btn-clear:hover {
	-fx-background-color: -fx-error-color;
}

.calc-btn-plus {
	-fx-pref-height: 100;
}

/* Account Summary */

.account-summary .button-box {
	-fx-background-color: white;
	-fx-background-radius: 100;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 30, 0, 3, 2);
}

.account-summary .button-box .button {
	-fx-background-color: transparent;
	-fx-text-fill: -fx-dark-gray-color;
	-fx-font-size: 16;
	-fx-background-radius: 100;
	-fx-padding: 7 16;
	-fx-cursor: hand;
}

.account-summary .button-box .button.selected {
	-fx-background-color: -fx-blue-color;
	-fx-text-fill: white;
}

.account-summary .button-box .button:hover {
	-fx-background-color: -fx-lighter-blue-color;
}

.summary-box {
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-padding: 20;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 30, 0, 3, 2);
}

.account-summary .cash-in {
	-fx-background-color: #e3fde3;
}

.account-summary .cash-out {
	-fx-background-color: #ffe4e4;
}

.account-summary .current-balance {
	-fx-background-color: #ebfeff;
}

.account-summary .utility-expenses {
	-fx-background-color: #fcffeb;
}

.summary-box .title {
	-fx-text-fill: -fx-deep-blue-color;
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.summary-box .value {
	-fx-text-fill: black;
	-fx-font-size: 36;
	-fx-font-weight: bold;
}

.summary-box .duration {
	-fx-text-fill: -fx-dark-gray-color;
	-fx-font-size: 14;
	-fx-font-weight: bold;
}

/* Transaction Limits */
.transaction-limits {
	-fx-padding: 20;
}

.transaction-limit-box {
	-fx-background-color: -fx-deep-blue-color;
	-fx-background-radius: 10;
	-fx-padding: 20;
	-fx-effect: dropshadow(three-pass-box, rgb(38, 32, 78, 0.2), 30, 0, 3, 2);
}

.transaction-limit-box .title {
	-fx-text-fill: white;
	-fx-font-size: 16;
}

.transaction-limit-box .out-of {
	-fx-text-fill: white;
	-fx-font-size: 23;
	-fx-font-weight: bold;
}

.transaction-limit-box .spent {
	-fx-text-fill: -fx-success-color;
	-fx-font-size: 23;
	-fx-font-weight: bold;
}

.transaction-limit-box .remaining {
	-fx-text-fill: -fx-error-color;
	-fx-font-size: 23;
	-fx-font-weight: bold;
}

.transaction-limit-box .progress-bar:determinate .track {
	-fx-background-color: white;
	-fx-background-radius: 10;
}

.transaction-limit-box .progress-bar:determinate .bar {
	-fx-background-color: -fx-blue-color;
	-fx-background-radius: 10;
	-fx-border-color: -fx-blue-color;
	-fx-border-width: 5;
	-fx-border-radius: 10;
	-fx-pref-height: 20;
}

.my-account-box {
	-fx-background-color: #26204e;
	-fx-background-radius: 10;
	-fx-padding: 20;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 30, 0, 3, 2);
}

.my-account-box .title {
	-fx-text-fill: white;
	-fx-font-size: 16;
}

.update-profile-button {
	-fx-background-color: #46a2d6;
	-fx-text-fill: #26204e;
	-fx-font-size: 16;
	-fx-font-weight: bold;
	-fx-background-radius: 10;
	-fx-padding: 7 30;
	-fx-cursor: hand;
}

/* Footer */
.footer {
	-fx-background-color: -fx-blue-color;
}
