<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body>
  <div id="map" style="width: 100%; height: 97vh;"></div>
  <script>
    var map = L.map('map').setView([23.8022047, 90.4219455], 11);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var markers = [
      {
        lat: 23.806269249115,
        lng: 90.36625564566172,
      },
      {
        lat: 23.79109256754847,
        lng: 90.38886745654425,
      },
      {
        lat: 23.793461354214102,
        lng: 90.40645233537553,
      },
      {
        lat: 23.737255218598246,
        lng: 90.37723839465686,
      },
      {
        lat: 23.732772508562878,
        lng: 90.38520174779887,
      },
      {
        lat: 23.819049034304825,
        lng: 90.45267430103037,
      },
      {
        lat: 23.874105703915646,
        lng: 90.39036087444322,
      },
      {
        lat: 23.845686540431352,
        lng: 90.41978733995445,
      },
      {
        lat: 23.70611161758598,
        lng: 90.41144958410528,
      },
      {
        lat: 23.711902674081788,
        lng: 90.41812895987533,
      },
      {
        lat: 23.72144152703674,
        lng: 90.4290453284787,
      },
      {
        lat: 23.71038135962026,
        lng: 90.40565238221893,
      }
    ];

    markers.forEach(function (marker) {
      L.marker([marker.lat, marker.lng]).addTo(map)
        .bindPopup(marker.popup);
    });
  </script>
</body>

</html>